<template>
  <div style="padding: 10px">
    <h3>Dashboard</h3>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Dashboard",
  computed: {
    ...mapGetters(["isLoggedIn"]),
  },
  created() {
    if (!this.isLoggedIn) {
      this.$router.push("/login");
    }
  },
};
</script>
