<template>
  <div class="ui segment">
    <h4>Login</h4>
    <form @submit.prevent="onSubmit" class="ui form">
      <div class="field">
        <label>Email</label>
        <input v-model.trim="email" ref="emailInput" style="width: 250px" />
      </div>
      <div class="field">
        <label>Password</label>
        <input v-model.trim="password" type="password" style="width: 250px" />
      </div>
      <button type="submit" :disabled="submitDisabled" class="ui button">
        Login
      </button>
      <div v-if="errors.length" style="margin-top: 10px">
        <ul style="list-style-type: none; margin: 0; padding: 0; color: red">
          <li :key="error" v-for="error in errors">{{ error }}</li>
        </ul>
      </div>
    </form>
  </div>
</template>

<script>
import { HttpStatus } from "../constants";
import axios from "axios";

export default {
  name: "Login",
  data: () => {
    return {
      errors: [],
      email: "",
      password: "",
    };
  },
  computed: {
    submitDisabled() {
      return this.email.length === 0 || this.password.length === 0;
    },
  },
  methods: {
    onSubmit() {
      return axios
        .post(
          `http://localhost:5000/v1/login`,
          {
            email: this.email,
            password: this.password,
          },
          {
            headers: { "Content-Type": "application/json" },
          }
        )
        .then((response) => {
          const { email, accessToken, username } = response.data;
          const payload = {
            user: {
              email,
              username,
            },
            accessToken,
          };
          this.errors = [];
          this.$store.dispatch("login", payload);
          this.$router.push("/dashboard");
        })
        .catch((error) => {
          error.response.status === HttpStatus.FORBIDDEN
            ? this.errors.push("Incorrect email or password")
            : this.errors.push("Login failed");
        });
    },
  },
  mounted() {
    const emailInputRef = this.$refs.emailInput;
    emailInputRef.focus();
  },
};
</script>
