<template>
  <div class="ui segment">
    <h4>Register</h4>
    <form @submit.prevent="onSubmit" class="ui form">
      <div class="field">
        <label>Email</label>
        <input v-model.trim="email" ref="emailInput" style="width: 250px" />
      </div>
      <div class="field">
        <label>Username</label>
        <input v-model.trim="username" style="width: 250px" />
      </div>
      <div class="field">
        <label>Password</label>
        <input v-model.trim="password" type="password" style="width: 250px" />
      </div>
      <button type="submit" :disabled="submitDisabled" class="ui button">
        Submit
      </button>
      <div v-if="errors.length">
        <ul
          style="
            list-style-type: none;
            margin: 0;
            padding-top: 20px;
            padding-left: 0;
          "
        >
          <li :key="error" style="color: red" v-for="error in errors">
            {{ error }}
          </li>
        </ul>
      </div>
      <div v-if="showLoginLink">
        <router-link to="/login" class="item">Login</router-link>
      </div>
    </form>
  </div>
</template>

<script>
import { HttpStatus } from "../constants";
import axios from "axios";

export default {
  name: "Register",
  data: () => {
    return {
      errors: [],
      email: "",
      password: "",
      username: "",
      statusCode: HttpStatus.CREATED,
    };
  },
  computed: {
    submitDisabled() {
      return (
        this.email.length < 3 ||
        this.password.length < 6 ||
        this.username.length === 0
      );
    },
    showLoginLink() {
      return this.statusCode === HttpStatus.CONFLICT;
    },
  },
  methods: {
    onSubmit() {
      return axios
        .post(
          `http://localhost:5000/v1/register`,
          {
            email: this.email,
            password: this.password,
            username: this.username,
          },
          {
            headers: { "Content-Type": "application/json" },
          }
        )
        .then((response) => {
          const { email, accessToken, username } = response.data;
          const payload = {
            user: {
              email,
              username,
            },
            accessToken,
          };
          this.errors = [];
          this.$store.dispatch("login", payload);
          this.$router.push("/dashboard");
        })
        .catch((error) => {
          this.statusCode = error.response.status;
          this.statusCode === HttpStatus.CONFLICT
            ? this.errors.push(
                "You've already registered this email. Please login."
              )
            : this.errors.push("Registration failed");
        });
    },
  },
  mounted() {
    const emailInputRef = this.$refs.emailInput;
    emailInputRef.focus();
  },
};
</script>
