<template>
  <div style="padding: 10px; display: flex; flex-direction: column">
    <h3>Welcome</h3>
    <div>
      <router-link to="/login" class="item">Login</router-link> |
      <router-link to="/register" class="item">Register</router-link>
    </div>
  </div>
</template>
