<template>
  <v-app-bar app color="primary" dark>
    <div class="d-flex align-center">
      <router-link :to="navigateTo">
        <v-img
          :src="require('../assets/light-house-svgrepo-com.svg')"
          class="my-3"
          contain
          height="38"
        />
      </router-link>
    </div>
    <v-spacer></v-spacer>
    <a v-if="isLoggedIn" @click="onLogout" style="color: white"
      ><v-icon>{{ svgPathLogout }}</v-icon> Logout {{ currentUsername }}</a
    >
    <router-link v-else to="/login" style="color: white"
      ><v-icon>{{ svgPathLogin }}</v-icon> Login</router-link
    >
  </v-app-bar>
</template>

<script>
import { mapGetters } from "vuex";
import { mdiLogin, mdiLogout } from "@mdi/js";
import axios from "axios";

export default {
  name: "AppHeader",
  data: () => ({
    svgPathLogin: mdiLogin,
    svgPathLogout: mdiLogout,
  }),
  computed: {
    ...mapGetters(["accessToken", "isLoggedIn", "currentUser"]),
    currentUsername() {
      return this.currentUser ? this.currentUser.username : "";
    },
    navigateTo() {
      return this.isLoggedIn ? "/dashboard" : "/";
    },
  },
  methods: {
    onLogout() {
      return axios
        .get(`http://localhost:5000/v1/logout`, {
          headers: {
            Authorization: `JWT ${this.accessToken}`,
          },
        })
        .then(() => {
          this.$store.dispatch("logout");
          this.$router.push("/");
        })
        .catch((error) => {
          // put up toast that an error occurred logging out
          console.error(error.message);
        });
    },
  },
};
</script>
